.main-block{
  width: 560px;
  height: 560px;
  border: 1px solid #000;
  margin: 0 auto;
}

.block{
  height: 70px;
  width: 70px;
  float: left;
}

.black{
  background: #000;
}

.white{
  background: #fff;
}